@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  color: inherit;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #131214;
  color: #eae6f2;
  font-size: 1.6rem;
}
